<div id="top">
    <div class="top-wrapper">
        <%= link_to image_tag('logo.png', class: 'logo'), '/' %>
        <ul class="topnav">
            <li class="sidebar-button"><a href="#" title=""><b class="responsive-nav"></b></a></li>
            <li><a href="/logout" title=""><b class="logout"></b></a></li>
        </ul>
    </div>
</div>
