/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
form .clearfix:before, form .clearfix:after {
  display: inline;
}

.error label,  .error  .help-block, .error .help-inline { color: #b94a48;  }
.error input, .error select, .error textarea { border-color: #d7bcbb !important; }
.error .input-prepend .add-on,  .error .input-append .add-on { color: #b94a48; background-color: #f2dede; border-color: #b94a48; }


